@media screen and (max-width: 320px) {
	body {
		font-size: 14px;
	}
}

@media screen and (max-width: 767.98px) {
	body {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100vw;
		height: 1000%;
		background: var(--wcolor);
	}
	* > svg {
		fill: var(--colorpr);
	}
	.header {
		width: 100vw;
		overflow: hidden;
	}
	.header-nav {
		display: flex;
		position: relative;
		width: 100vw;
		padding: 16px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&::after {
			position: absolute;
			content: '';
			width: calc(100vw - 16px);
			height: 80px;
			left: 0px;
			top: 56px;
			background: transparent;
			border: 2px solid var(--colorpr);
			border-left: none;
			border-radius: 0px 10px 10px 0px;
			z-index: -2;
		}
		&::before {
			position: absolute;
			content: '';
			width: 40px;
			height: 105px;
			left: 0px;
			top: 25px;
			background: var(--wcolor);
			z-index: -1;
		}
		.change-page {
			display: flex;
			height: 48px;
			gap: 5px;
			align-items: center;
			& a {
				display: flex;
				width: 48px;
				height: 48px;
				border-radius: 100%;
				background: $wColor;
				border: 1px solid var(--colorpr);
				box-sizing: border-box;
				box-shadow: 0px 0px 5px rgba(0, 7, 171, 0.5);
				justify-content: center;
				align-items: center;
			}
			& span {
				@include b20PX;
				color: var(--colorpr);
			}
		}
		.theme-switch-wrapper {
			display: flex;
			align-items: center;
			position: absolute;
			top: 25px;
			right: 16px;
			z-index: 1000;
		}
		.theme-switch {
			display: inline-block;
			height: 28px;
			position: relative;
			width: 56px;
		}
		.theme-switch input {
			display: none;
		}
		.slider {
			background-color: var(--colorse3);
			bottom: 0;
			cursor: pointer;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: 0.4s;
			&:before {
				background-color: var(--colorpr);
				bottom: 1px;
				content: '';
				height: 26px;
				left: 1px;
				position: absolute;
				transition: 0.4s;
				width: 26px;
			}
		}
		input:checked + .slider {
			background-color: var(--colorse3);
		}
		input:checked + .slider:before {
			transform: translateX(27px);
		}
		.slider.round {
			border-radius: 100rem;
		}
		.slider.round:before {
			border-radius: 50%;
		}
	}
	.header-avatar {
		margin: 0 auto;
		width: 188px;
		height: 188px;
		border: 3px solid var(--colorpr);
		box-sizing: border-box;
		box-shadow: 0px 0px 5px rgba(0, 7, 171, 0.5);
		border-radius: 16px;
		overflow: hidden;
		background-color: var(--colorpr);
		z-index: 10;
		transition: all 0.25s;
		&:hover {
			transform: scale(110%);
		}
	}
	.header-name {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		width: 100vw;
		gap: 15px;
		text-align: center;
		& > h1 {
			@include b25PX;
			color: var(--colorpr);
		}
		& > p {
			@include n20PX;
			color: var(--colorse);
			border-bottom: 2px solid var(--colorpr);
		}
	}
	.header-profile {
		width: 100vw;
		padding: 0px 16px;
	}
	.header-proUp {
		position: relative;
		display: grid;
		grid-template-columns: 25px auto;
		gap: 10px;
		margin: 0 auto;
		padding: 30px 16px 0px 16px;
		border-left: 2px solid var(--colorpr);
		&::before {
			position: absolute;
			content: '';
			width: 12px;
			height: 12px;
			left: -2px;
			bottom: -12px;
			border-left: 2px solid var(--colorpr);
			border-bottom: 2px solid var(--colorpr);
			border-bottom-left-radius: 10px;
		}
		&_svg {
			display: flex;
			flex-direction: column;
			gap: 24px;
			position: relative;
			&::before {
				position: absolute;
				content: '';
				width: 8px;
				height: 8px;
				left: -20px;
				top: 10px;
				border-radius: 50%;
				background: var(--colorpr);
				box-shadow: 0px 48px 0px var(--colorpr), 0px 96px 0px var(--colorpr);
			}
		}
		&_text {
			display: flex;
			flex-direction: column;
			gap: 18px;
			& > span {
				@include n20PX;
				color: var(--colorpr);
			}
		}
	}
	.header-proDown {
		position: relative;
		width: 100%;
		height: 100%;
		padding: 0px 16px 16px 16px;
		margin-top: 27px;
		margin-left: 20px;
		border-left: 2px solid var(--colorpr);
		&::before {
			position: absolute;
			content: '';
			width: 12px;
			height: 20px;
			left: -12px;
			top: -17px;
			border-top: 2px solid var(--colorpr);
			border-right: 2px solid var(--colorpr);
			border-top-right-radius: 10px;
		}
		&::after {
			position: absolute;
			content: '';
			width: 40px;
			height: 30px;
			left: -40px;
			bottom: -10px;
			border-bottom: 2px solid var(--colorpr);
			border-right: 2px solid var(--colorpr);
			border-bottom-right-radius: 10px;
		}
		&-item {
			position: relative;
			display: grid;
			grid-template-columns: 25px auto;
			align-content: space-between;
			align-items: center;
			justify-content: start;
			justify-items: start;
			gap: 10px 16px;
			& > a,
			span {
				position: relative;
				@include n20PX;
				color: var(--colorpr);
				text-decoration: none;
			}
			& > a::after {
				position: absolute;
				content: 'goto';
				top: 0;
				padding-left: 5px;
				font-size: 10px;
				font-style: italic;
				color: var(--colorse);
			}
			&::before {
				position: absolute;
				content: '';
				width: 8px;
				height: 8px;
				left: -20px;
				top: 10px;
				border-radius: 50%;
				background: var(--colorpr);
				box-shadow: 0px 40px 0px var(--colorpr), 0px 80px 0px var(--colorpr),
					0px 120px 0px var(--colorpr), 0px 160px 0px var(--colorpr);
			}
		}
	}
	.next {
		padding: 50px 0px 0px 0px;
		& > svg {
			width: 80px;
			height: 80px;
			margin: 0px auto;
		}
	}
	.contents {
		width: 100vw;
		padding: 50px 16px;
		overflow: hidden;
	}
	.content-top {
		position: relative;
		background: transparent;
		border-bottom: 2px solid var(--colorpr);
		border-left: 2px solid var(--colorpr);
		border-bottom-left-radius: 10px;
		&::before {
			position: absolute;
			content: '';
			top: -20px;
			left: -20px;
			width: 20px;
			height: 20px;
			border-top: 2px solid var(--colorpr);
			border-right: 2px solid var(--colorpr);
			border-top-right-radius: 10px;
		}
		&::after {
			position: absolute;
			content: '';
			bottom: -2px;
			right: -50px;
			width: 50px;
			border-bottom: 2px solid var(--colorpr);
		}
		& > p {
			margin: 0 auto;
			padding: 0px 16px 16px 16px;
			text-align: justify;
			color: var(--colorpr);
		}
	}
	.content-skills {
		position: relative;
		& > h3 {
			text-align: center;
			padding: 50px 0px 16px 0px;
			@include b30PX;
			color: var(--colorpr);
		}
		&::after {
			position: absolute;
			content: '';
			bottom: 0px;
			left: 16px;
			width: 100%;
			height: 100%;
			border-bottom: 2px solid var(--colorpr);
		}
	}
	.skill {
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 16px 0px;
		box-sizing: border-box;
		&-title {
			@include n25PX;
			color: var(--colorpr);
			padding-left: 16px;
			justify-content: center;
		}
		&-icon {
			position: relative;
			width: auto;
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
			&::before {
				position: absolute;
				content: '';
				width: 80%;
				height: 160%;
				top: -30%;
				left: 10%;
				border: 1px solid var(--colorpr);
				border-radius: 5px;
				background-color: var(--iconbg);
				box-shadow: inset 0px 0px 5px var(--colorpr);
				z-index: -1;
			}
		}
		&-sub {
			@include r14PX;
			color: var(--colorse);
			padding-left: 50px;
		}
		&-r {
			position: relative;
			& > .skill-title {
				position: relative;
				text-align: left;
				padding-right: 16px;
				&::after {
					position: absolute;
					content: '';
					top: 50%;
					left: -2px;
					transform: translateY(-50%);
					width: 8px;
					height: 8px;
					border-radius: 100%;
					background: var(--colorpr);
				}
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: calc(100% - 20px);
				height: calc(100% - 20px);
				border-bottom: 2px solid var(--colorpr);
				border-left: 2px solid var(--colorpr);
				border-bottom-left-radius: 10px;
			}
			&::before {
				position: absolute;
				content: '';
				top: -2px;
				left: 0;
				width: 20px;
				height: 22px;
				border-left: 2px solid var(--colorpr);
				border-top: 2px solid var(--colorpr);
				border-top-left-radius: 10px;
			}
			&-up {
				&::before {
					position: absolute;
					content: '';
					top: -2px;
					left: 0;
					width: 100vw;
					height: 22px;
					border-left: 2px solid var(--colorpr);
					border-top: 2px solid var(--colorpr);
					border-top-left-radius: 10px;
				}
			}
		}
		&-l {
			position: relative;
			& > .skill-title {
				position: relative;
				text-align: right;
				padding-right: 16px;
				&::after {
					position: absolute;
					content: '';
					top: 50%;
					right: -2px;
					transform: translateY(-50%);
					width: 8px;
					height: 8px;
					border-radius: 100%;
					background: var(--colorpr);
				}
			}
			&::after {
				position: absolute;
				content: '';
				top: 0;
				right: 0;
				width: calc(100% - 16px);
				height: 100%;
				border: 2px solid var(--colorpr);
				border-top: none;
				border-left: none;
				border-radius: 0px 10px 10px 0px;
			}
			&::before {
				position: absolute;
				content: '';
				top: -2px;
				right: 0;
				width: 20px;
				height: 22px;
				border-top: 2px solid var(--colorpr);
				border-right: 2px solid var(--colorpr);
				border-top-right-radius: 10px;
			}
		}
	}
}
