@media screen and (min-width: 374.98px) {
	body {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100vw;
		height: 1000%;
	}
	.header {
		width: 100vw;
	}
	.header-nav {
		display: flex;
		position: relative;
		width: 100vw;
		padding: 16px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		&::after {
			position: absolute;
			content: '';
			width: calc(100vw - 16px);
			height: 80px;
			left: 0px;
			top: 56px;
			background: transparent;
			border: 2px solid var(--colorpr);
			border-left: none;
			border-radius: 0px 10px 10px 0px;
			z-index: -2;
		}
		&::before {
			position: absolute;
			content: '';
			width: 40px;
			height: 105px;
			left: 0px;
			top: 25px;
			background: var(--wcolor);
			z-index: -1;
		}
		.change-page {
			display: flex;
			height: 48px;
			gap: 5px;
			align-items: center;
			& a {
				display: flex;
				width: 48px;
				height: 48px;
				border-radius: 100%;
				background: $wColor;
				border: 1px solid var(--colorpr);
				box-sizing: border-box;
				box-shadow: 0px 0px 5px rgba(0, 7, 171, 0.5);
				justify-content: center;
				align-items: center;
				& svg {
					position: relative;
					& path:first-child {
						fill: var(--colorpr);
					}
					& path:last-child {
						fill: var(--colorse);
					}
				}
			}
			& span {
				@include b20PX;
				color: var(--colorpr);
			}
		}
		.change-mode {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			background: var(--wcolor);
			border: 1px solid var(--colorpr);
			box-sizing: border-box;
			border-radius: 100%;
			box-shadow: 0px 0px 5px rgba(204, 239, 252, 0.5);
			& > svg > path {
				fill: var(--colorpr);
			}
		}
	}
	.header-avatar {
		margin: 0 auto;
		width: 188px;
		height: 188px;
		border: 3px solid var(--colorpr);
		box-sizing: border-box;
		box-shadow: 0px 0px 5px rgba(0, 7, 171, 0.5);
		border-radius: 16px;
		overflow: hidden;
		background-color: var(--colorpr);
		z-index: 10;
		transition: all 0.25s;
		&:hover {
			transform: scale(110%);
		}
	}
	.header-name {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
		width: 100vw;
		gap: 15px;
		text-align: center;
		& > h1 {
			@include b25PX;
			color: var(--colorpr);
		}
		& > p {
			@include n20PX;
			color: $dBlue2;
			border-bottom: 2px solid var(--colorpr);
		}
	}
	.header-profile {
		width: 100vw;
		padding: 0px 16px;
	}
	.header-proUp {
		position: relative;
		display: grid;
		grid-template-columns: 25px auto;
		gap: 10px;
		margin: 0 auto;
		padding: 30px 16px 16px 16px;
		border-left: 2px solid var(--colorpr);
		border-bottom-left-radius: 10px;
		&::before {
			position: absolute;
			content: '';
			width: 10px;
			height: 15px;
			left: 0px;
			bottom: 0px;
			border-bottom: 2px solid var(--colorpr);
			border-bottom-left-radius: 10px;
		}
		&_svg {
			display: flex;
			flex-direction: column;
			gap: 24px;
			position: relative;
			& > svg {
				& > path:first-child {
					fill: var(--colorpr);
				}
				& > path {
					fill: var(--colorse);
				}
			}
			&::after {
				position: absolute;
				content: '';
				width: 8px;
				height: 8px;
				left: -20px;
				top: 10px;
				border-radius: 50%;
				background: var(--colorpr);
				box-shadow: 0px 50px 0px var(--colorpr), 0px 100px 0px var(--colorpr);
			}
		}
		&_text {
			display: flex;
			flex-direction: column;
			gap: 18px;
			& > span {
				@include n20PX;
				color: var(--colorpr);
			}
		}
	}
	.header-proDown {
		display: grid;
		position: relative;
		grid-template-columns: 25px auto;
		gap: 10px;
		padding: 0px 16px 16px 16px;
		margin-top: 16px;
		margin-left: 20px;
		border-left: 2px solid var(--colorpr);
		&::before {
			position: absolute;
			content: '';
			width: 10px;
			height: 30px;
			left: -10px;
			top: -17px;
			border-top: 2px solid var(--colorpr);
			border-right: 2px solid var(--colorpr);
			border-top-right-radius: 10px;
		}
		&::after {
			position: absolute;
			content: '';
			width: 40px;
			height: 30px;
			left: -40px;
			bottom: -10px;
			border-bottom: 2px solid var(--colorpr);
			border-right: 2px solid var(--colorpr);
			border-bottom-right-radius: 10px;
		}
		&_svg {
			display: flex;
			flex-direction: column;
			gap: 25px;
			& > svg {
				& > path:first-child {
					fill: var(--colorpr);
				}
				& > path {
					fill: var(--colorse);
				}
			}
			&::after {
				position: absolute;
				content: '';
				width: 8px;
				height: 8px;
				left: -4px;
				top: 8px;
				border-radius: 50%;
				background: var(--colorpr);
				box-shadow: 0px 45px var(--colorpr), 0px 89px var(--colorpr),
					0px 133px var(--colorpr), 0px 180px var(--colorpr);
			}
			& svg:nth-child(2) {
				position: relative;
				& path:nth-child(1) {
					fill: var(--colorpr);
				}
				& path:nth-child(2) {
					fill: var(--colorse);
				}
				& path:nth-child(3) {
					fill: var(--colorse3);
				}
				& path:nth-child(4) {
					fill: var(--colorse2);
				}
				& path:nth-child(5) {
					fill: var(--colorse1);
				}
			}
			& svg:nth-child(3) {
				position: relative;
				& path:nth-child(1) {
					fill: var(--colorpr);
				}
				& path:nth-child(3) {
					fill: var(--colorse1);
				}
			}
			& svg:nth-child(5) {
				position: relative;
				& path:last-child {
					fill: var(--colorpr);
				}
			}
		}
		&_text {
			display: flex;
			flex-direction: column;
			gap: 14px;
			& > span {
				@include n20PX;
				color: var(--colorpr);
			}
		}
	}
	.next {
		padding: 16px 0px;
		& > svg {
			fill: var(--colorpr);
			margin: 0px auto;
		}
	}
	.contents {
		width: 100vw;
		padding: 16px;
	}
	.content-top {
		position: relative;
		background: transparent;
		border-bottom: 2px solid var(--colorpr);
		border-left: 2px solid var(--colorpr);
		border-bottom-left-radius: 10px;
		margin: 0 auto;
		padding: 16px 16px;
		&::before {
			position: absolute;
			content: '';
			width: 20px;
			height: 30px;
			left: -20px;
			top: -15px;
			border-top: 2px solid var(--colorpr);
			border-right: 2px solid var(--colorpr);
			border-top-right-radius: 10px;
		}
		&::after {
			position: absolute;
			content: '';
			width: 17px;
			height: 1px;
			right: -16px;
			bottom: -2px;
			border-bottom: 2px solid var(--colorpr);
		}
		& > p {
			text-align: justify;
			color: var(--colorpr);
		}
	}
	.content-skills {
		& > h3 {
			text-align: center;
			padding: 50px 0px 16px 0px;
			@include b30PX;
			color: var(--colorpr);
		}
	}
	.skill {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 16px 0px;
		&-r {
			border: 1px solid var(--colorpr);
			border-right: none;
			border-top: none;
			border-radius: 10px 0px 0px 10px;
			margin-right: 10px;
			& > .skill-title {
				position: relative;
				text-align: left;
				padding-left: 16px;
				&::after {
					position: absolute;
					content: '';
					width: 8px;
					height: 8px;
					left: -4px;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50%;
					background: var(--colorpr);
				}
			}
			&-top {
				position: relative;
				&::after {
					content: '';
					width: 100vw;
					height: 100%;
					top: 0px;
					position: absolute;
					border-top: 1px solid var(--colorpr);
					border-top-left-radius: 10px;
				}
			}
			&-down {
				position: relative;
				&::after {
					content: '';
					width: 100vw;
					height: 100%;
					bottom: -1px;
					position: absolute;
					border-bottom: 1px solid var(--colorpr);
					border-bottom-left-radius: 10px;
				}
			}
		}
		&-l {
			border: 1px solid var(--colorpr);
			border-left: none;
			border-top: none;
			border-radius: 0px 10px 10px 0px;
			margin-left: 10px;
			& > .skill-title {
				position: relative;
				text-align: right;
				padding-right: 16px;
				&::after {
					position: absolute;
					content: '';
					width: 8px;
					height: 8px;
					right: -4px;
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50%;
					background: var(--colorpr);
				}
			}
			&-fix {
				position: relative;
				& > .skill-sub {
					padding-left: 40px;
				}
				&::after {
					content: '';
					width: 50px;
					height: 50px;
					top: -1px;
					right: -1px;
					position: absolute;
					border-top: 1px solid var(--colorpr);
					border-right: 1px solid var(--colorpr);
					border-top-right-radius: 10px;
				}
				&::before {
					content: '';
					width: 50px;
					height: 50px;
					bottom: -50px;
					left: -10px;
					position: absolute;
					border-top: 1px solid var(--colorpr);
					border-left: 1px solid var(--colorpr);
					border-top-left-radius: 10px;
				}
			}
		}
		&-title {
			@include n25PX;
			color: var(--colorpr);
			padding-left: 16px;
			justify-content: center;
		}
		&-icon {
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: center;
		}
		&-sub {
			@include r14PX;
			color: var(--colorse);
			padding-left: 50px;
		}
	}
}
