@mixin b20PX {
	font-weight: 700;
	font-size: 1.25em;
}
@mixin b25PX {
	font-weight: 700;
	font-size: 1.5625em;
}
@mixin b30PX {
	font-weight: 700;
	font-size: 1.875em;
}
@mixin n20PX {
	font-weight: 500;
	font-size: 1.25em;
}
@mixin n25PX {
	font-weight: 500;
	font-size: 1.5625em;
}
@mixin r20PX {
	font-weight: 400;
	font-size: 1.25em;
}
@mixin r14PX {
	font-weight: 400;
	font-size: 0.875em;
}
