:root {
	--wcolor: #ffffff;
	--colorpr: #0007ab;
	--colorse: #b2b5ff;
	--colorse1: #4045be;
	--colorse2: #6e74ff;
	--colorse3: #b2b5ff;
	--iconbg: #ffffff;
}
[data-theme='dark'] {
	--wcolor: #1b1b1b;
	--colorpr: #00aeef;
	--colorse: #6e74ff;
	--colorse1: #66cef5;
	--colorse2: #99dff9;
	--colorse3: #cceffc;
	--iconbg: #ffffff;
}
